/* Global Styles */
body, html {
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;

  background: linear-gradient(45deg, #16171a, #292e35);
  color: white;
}
a{
  text-decoration: none;
}
a:link, a:visited {
   text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #826099;
}

a:active {
  text-decoration: none;
  color: #1C052B;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #1C052B;
}
header .logo, header nav a {
  color: white;
  text-decoration: none;
}

header nav a:hover {
  color: #826099;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  padding: 20px;
}
