nav {
  display: flex;
  align-items: center;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}
.nav-links li {
  display: inline;
}
.nav-links li a {
  color: #FFFFFF;
  text-decoration: none;
}
.login-btn {
  background-color: #194f88;
  padding: 10px 15px;
  border-radius: 5px;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #141414;
} 


header .logo, header nav a {
  color: white;
  text-decoration: none;
}

header nav a:hover {
  color: #7589c5d2;
} */

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #357ABD;
  text-decoration: none;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      background-color: #194f88;
  }
  .nav-links.active {
      display: flex;
  }
  .hamburger {
      display: flex;
  }

}
@media (max-width: 480px) {
  .nav-links {
      flex-direction: column;
      align-items: center;
  }
  .nav-links li {
      margin: 10px 0;
  }

}