@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(45deg, #16171a, #292e35);
    color: #FFFFFF;
    min-height: 100%;
    background-attachment: fixed;
}

   

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #141414;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #357ABD;
    text-decoration: none;
}

.login-btn {
    background-color: #357ABD;
    padding: 10px 15px;
    border-radius: 5px;
    color: #FFFFFF;
    
}

.hero {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    /* background: linear-gradient(45deg, #16171a, #292e35); */
}

.hero .btn {
    background-color: #357ABD;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin: 20px auto;
    text-align: center; 
    
}

.hero-content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}



.hero h1 {
    color: #357ABD;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero-buttons .btn {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    background-color: #1f78b4;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 30px;
    color: #ffffff;
}

.about h2 {
    color: #357ABD;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #e9e9e9;
    max-width: 800px;
    margin-bottom: 20px;
}

.h2st {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #ffff;
}

.statistics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.stat-card {
    border-radius: 10px;
    color: #357ABD;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.329);
    transition: transform 0.3s, box-shadow 0.3s;
}

.stat-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.stat-number {
    font-size: 2em;
    margin-top: 10px;
    animation: count 2s forwards;
}

@keyframes count {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.testimonials {
    padding: 40px 20px;
    text-align: center;
    color: #ffffff;
}

.testimonial {
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto;
    display: inline-block;
    max-width: 300px;
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.testimonial p {
    font-style: italic;
}

.testimonial span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #4A90E2;
}

@media (max-width: 768px) {
    .statistics {
        flex-direction: column;
        align-items: center;
    }
}
