.container {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .card {

    font-family: "Montserrat", sans-serif;
    margin: 2%;
    background: #30193f;
    width: 350px;
    height: 250px;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: .2s all;
    cursor: pointer;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    margin-top: 200px;

  }

  .card>span {
    display: block;
    margin: auto;

  }

  .container:hover .card {
    filter: blur(3px);
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
  }

  .container:hover .card:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
    background: #402b4e;
    color: white;
  }

  .cta {
    margin-bottom: 10px;
    border: none;
    background: none;
  }

  .cta span {
    color: white;
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }

  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }

  .cta:hover svg {
    transform: translateX(0);
  }

  .cta:active svg {
    transform: scale(0.9);
  }

  .hover-underline-animation {

    color: whitesmoke;
    padding-bottom: 20px;
  }

  .hover-underline-animation:after {
    content: "";

    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .cta:hover .hover-underline-animation:after {
    color: #30193f;
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  