@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

body, html {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #16171a, #292e35);
    color: #FFFFFF;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #357ABD;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #357ABD;
    text-decoration: none;
    font-weight: bold;
}

.login-btn {
    background-color: #357ABD;
    padding: 10px 15px;
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px; /* Espaço para o header fixo */
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: auto;
}

.table-container {
    background: #1C1C1C;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.table-container h2 {
    margin: 20px;
    color: #357ABD;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    background-color: #2C2C34;
    color: #FFFFFF;
}

th {
    text-align: left;
    background-color: #1C1C1C;
}

a {
    color: #357ABD;
    font-size: 13px;
    text-decoration: none;
}

.box-search {
    display: flex;
    justify-content: center;
    gap: .1%;
    margin-top: 150px;
}

input.form-control {
    background-color: #1e0d39;
    border-color: #beadc1;
    outline: none;
    color: #cba8dc;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.btn-dark {
    background-color: #357ABD;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-dark:hover {
    background-color: #1f78b4;
}

input.form-control:focus {
    background-color: #1e0d39;
    outline: none;
    color: #cba8dc;
    border-color: #cccccc;
    box-shadow: none;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    th,
    td {
        padding: 10px;
    }
    input.form-control,
    .btn-dark {
        font-size: 12px;
        padding: 8px;
    }
}
