@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(45deg, #16171a, #292e35);
    color: #FFFFFF;
    min-height: 100%;
    background-attachment: fixed;
}



.login-btn {
    background-color: #357ABD;
    padding: 10px 15px;
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;

}

.container.vehicle-form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin: auto;
}

.login-box {
    width: 100%;
    padding: 40px;
    background: #16171a;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    box-sizing: border-box;
}

.login-box h2 {
    margin: 0 0 30px;
    color: #357ABD;
    text-align: center;
}

.user-box, .select-group {
    margin-bottom: 30px;
}

.user-box label, .select-group label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 14px;
}

.user-box input, .select-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #357ABD;
    background: transparent;
    border: none;
    border-bottom: 1px solid #357ABD;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-group select {
    color: #357ABD;
    background: #16171a;
    border-radius: 5px;
}

.select-group select:focus {
    border-bottom: 2px solid #357ABD;
}

.select-group option {
    font-size: 16px;
    color: #357ABD;
    background: #fff;
}

.vehicle-form button.btn {
    width: 100%;
    padding: 10px;
    background-color: #357ABD;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color .5s ease;
}

.vehicle-form button.btn:hover {
    background-color: #0a32a8;
    color: whitesmoke;
}

.msg-err {
    height: 20px;
    align-items: center;
    font-weight: 600;
    border-radius: 8px;
    margin: auto;
    color: red;
    text-align: center;
    width: 300px;
    margin: 20px auto;
    padding: 5px;
    background-color: rgba(250, 128, 114, .3);
    border-radius: 1px solid rgb(165, 42, 42);
}

.msg-sucess {
    height: 20px;
  align-items: center;
  font-weight: 600;
  border-radius: 8px;
  margin: auto;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 300px;
  margin: 20px auto;
  padding: 5px;
    background-color: rgba(50, 205, 50, 0.3);
    border-radius: 1px solid rgb(34, 139, 34);
}